{% extends 'layout.html' %}
{% block body %}

       <!-- Single Page Header start -->
       <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Checkout</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/abbas">Home</a></li>
            <li class="breadcrumb-item"><a href="/abbas">Pages</a></li>
            <li class="breadcrumb-item active text-white">Checkout</li>
        </ol>
    </div>


*******************Page *******************

    <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="text-center">
            <img src="static/img/fruite-item-6.jpg" alt="Girl in a jacket" width="1520" height="600"> 
        </div>
    </div>
    
    {% endblock %}



   